<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
       扫描组件:放入到spring容器中
       @Component @Controller @Service @repository
       base-package : 扫描该包下的组件,和子包下的组件
    -->
    <context:component-scan base-package="com.forever"/>

    <!--
    引入资源文件
    -->
    <context:property-placeholder location="classpath:person.properties" />

    <bean id="person" class="com.forever.sx.model.Person">
        <property name="name" value="张三"/>
        <property name="age" value="15"/>
        <property name="height" value="${person.height}"/>
    </bean>
</beans>